.timeline
  %table
    %tbody
      %tr
        %th{scope: :row}
          = @attributes[:date]
        %td.team_news
          %img{src: @attributes[:image]}
          %h4= @attributes[:title]
          %span.name= @attributes[:name]
          %span.position= @attributes[:position]
          -if @attributes[:link]
            %a.read_more{href: @attributes[:link]} View Profile
          .description
            %p= @content
